<h1>Hello</h1>
table class="table">
        <% for(key in user.toJSON() ) { if (user.hasOwnProperty(key)) { %>
        <tr>
          <td><%= key %>:</td>
          <td class="boxy"><%= user[key] %></td>
        </tr>
        <% }} %>
      </table>